/*
 * Overrides
 */

// Remove the focus element
*,
*:focus {
    outline: none !important;
}

a {
    color: #a21d21;
    text-decoration: underline;
    &:hover {
        color: #a21d21 !important;
        text-decoration: none;
    }
}

body {
    background: #f8f8f8 url('/images/body-bg.png');
    min-height: 100vh;
    overflow-y: scroll;
}

@media (min-width: 1200px) {
    .container {
        max-width: 976px;
    }
}

// Page Fade-In/Out effect
body,
.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.no-cssanimations {
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}