.shadow-box {
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
}

.sidebar-container {
    background-color: #ededed;
    margin-bottom: .9375rem;
    
    .sidebar-mnu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        &-item {
            margin-bottom: .1875rem;
            border-bottom: .0625rem solid #ececec;
            border-top: .0625rem solid #d4d4d4;
            a {
                display: block;
                color: #272727;
                font-family: pf_dindisplay_proregular;
                text-decoration: none;
                line-height: 1;
                padding: .75rem 1.25rem;
            }
            &.active {
                background-color: #ffffff;
            }
        }
    }
}