$color_1: #ffffff;
$color_2: #ebebeb;
$color_3: rgba(255, 255, 255, 0.8);
$color_4: #000000;
$background_color_1: #ffffff;
$background_color_2: #000000;
$background_color_3: #ffffff;
$background_color_4: rgba(0, 0, 0, 0.03);
.header-top {
	margin-top: 0;
	margin-bottom: 0;
}

.logo {
	img {
		@media only screen and (max-width: 768px) {
			width: 8.875rem;
			height: auto;
		}
	}
}

.bg-light {
	background-color: #ffffff !important;
}

.black-text {
	color: #000 !important;
}

.mobile-call-link {
	background: url('/images/icon-phone.svg') no-repeat center center;
	right: 3.875rem;
	display: inline-block;
	width: 3.875rem;
	height: 3.875rem;
	position: absolute;
	top: 0rem;
	border-left: .0625rem solid #f1f1f1;
	display: none;
	@media only screen and (max-width: 768px) {
		display: inline-block;
	}
}

.toggle-mobile-menu {
	background: url('/images/icon-menu.svg') no-repeat center center;
	right: 0rem;
	display: inline-block;
	width: 3.875rem;
	height: 3.875rem;
	position: absolute;
	top: 0rem;
	border-left: .0625rem solid #f1f1f1;
	display: none;
	@media only screen and (max-width: 768px) {
		display: inline-block;
	}
}

.navbar-toggler {
	font-size: 1.9rem !important;
	outline: none !important;
	border: none;
	color: #000000;
}

.navbar-custom {
	border-top: 1px solid #ededed;
	background-color: $background_color_1;
	padding: 0 !important;
	.navbar-brand {
		color: $color_3;
	}
	.navbar-text {
		color: $color_3;
	}
	.navbar-nav {
		.nav-link {
			display: block;
			margin: 0;
			padding: 0 18px;
			line-height: 38px;
			color: #4a4a4a;
			font-size: 14px;
			text-decoration: none;
			font-family: pf_dindisplay_proregular;
			border-top: 1px solid #ededed;
		}
	}
	.nav-item.active {
		.nav-link {
			color: #a31e21;
			border-color: #a31e21;
			box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.2);
		}
	}
	.nav-item {
		border-right: 1px solid #ededed;
		&:first-child {
			border-left: 1px solid #ededed;
		}
		&:hover {
			.nav-link {
				color: #a31e21;
				border-color: #a31e21;
				box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.2);
			}
		}
		>a {
			display: block;
			margin: 0;
			padding: 0 18px;
			line-height: 38px;
			color: #4a4a4a;
			font-size: 14px;
			text-decoration: none;
			font-family: pf_dindisplay_proregular;
			border-top: 1px solid #ededed;
		}
	}
}

.navbar-info {
	display: block;
	float: right;
	margin-left: 2.5rem;
	font-family: pf_dindisplay_proregular;
	font-size: .875rem;
	@media only screen and (max-width: 768px) {
		display: none;
	}
	span {
		font-size: 1.125rem;
		font-family: pf_dindisplay_probold;
		color: #a31e21;
		text-decoration: none;
	}
}

.navbar-nav {
	.dropdown-absolute {
		position: absolute !important;
		float: right;
	}
	.dropdown-toggle {
		&::after {
			display: none;
		}
	}
	.dropdown-menu {
		position: absolute;
		left: -1px;
		top: 90%;
		background: #fff;
		box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.2);
		padding: 0;
		border-radius: 0;
		border: none;
	}
	.dropdown-item {
		display: block;
		margin: 0;
		padding: 0 18px;
		padding-top: 0px;
		padding-bottom: 0px;
		line-height: 38px;
		color: #4a4a4a;
		font-size: 14px;
		text-decoration: none;
		font-family: pf_dindisplay_proregular;
		border-top: 1px solid #ededed;
		>a {
			color: #4a4a4a;
			text-decoration: none;
			&:hover {
				color: #a31e21;
			}
		}
		&:hover {
			color: $color_4;
			background-color: $background_color_4;
		}
		&:focus {
			color: $color_4;
			background-color: $background_color_4;
		}
	}
}