.page-title {
    @media (max-width: 1024px) {
        .container {
            max-width: 100%;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}

#slider {
    width: 61rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 12.75rem;
    
    img {
        display: block;
    }
    @media only screen and (max-width: 1024px) {
        width: 100%;
        background-size: cover;
        height: auto;
        overflow: hidden;
        &::after {
            display: block;
            padding-top: 35%;
            content: '';
        }
    }
    .slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        img {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            @media only screen and (max-width: 1024px) {
                position: absolute;
                top: 50%;
                left: 50%;
                width: auto;
                height: auto;
                max-height: none;
                max-width: none;
                min-height: 100%;
                min-width: 100%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .slider_text {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
        color: #fff;
        font-family: pf_dindisplay_promedium;
        font-weight: normal;
        font-size: 1.25rem;
        padding: .6875rem 3.75rem .6875rem 1.0625rem;
        background-image: url('/images/trans1.png');
    }
}

.main-content {
    .entry-header {
        h1 {
            font-size: 1.5rem;
            color: #2c2c2c;
            font-weight: normal;
            font-family: pf_dindisplay_promedium;
            margin: 0 0 .9375rem 0;
        }
    }
    .entry-title {
        font-size: 1.5rem;
        color: #2c2c2c;
        font-weight: normal;
        font-family: pf_dindisplay_promedium;
        margin: 0 0 .9375rem 0;
    }
    .site-content {
        p {
            margin: 0 0 .9375rem 0;
            font-size: .75rem;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        ul {
            list-style: none;
            margin-left: 0;
            margin-top: 0;
            margin-right: 0;
            display: block;
            padding: 0;
            li {
                margin: 0;
                padding: .1875rem 0 .1875rem .9375rem;
                font-size: .75rem;
                display: block;
                background: transparent url('/images/li.png') no-repeat 0 .5rem;
            }
        }
    }
}