
@font-face {
	font-family: 'pf_dindisplay_probold';
	src: url('/css/fonts/din/bold/pfdindisplaypro-bold-webfont.eot');
	src: url('/css/fonts/din/bold/pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/din/bold/pfdindisplaypro-bold-webfont.woff') format('woff'), url('/css/fonts/din/bold/pfdindisplaypro-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_dindisplay_promedium';
	src: url('/css/fonts/din/medium/pfdindisplaypro-medium-webfont.eot');
	src: url('/css/fonts/din/medium/pfdindisplaypro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/din/medium/pfdindisplaypro-medium-webfont.woff') format('woff'), url('/css/fonts/din/medium/pfdindisplaypro-medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_dindisplay_proregular';
	src: url('/css/fonts/din/regular/repfdindisplaypro-regular-webfont.eot');
	src: url('/css/fonts/din/regular/pfdindisplaypro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/din/regular/pfdindisplaypro-regular-webfont.woff') format('woff'), url('/css/fonts/din/regular/pfdindisplaypro-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
